{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create" />
    {{ form_end(form) }}

    <hr>

    <a href="{{ path('product_index') }}" class="btn btn-default" role="button">Back to the list</a>{% endblock %}
